<ion-content [fullscreen]="true">
  <ion-grid  class="grid-toolbar">
    <ion-row>
      <ion-col size="12"  class="row-toolbar">
        <!-- Flecha para retroceder -->
        <ion-icon 
          name="arrow-back"  
          class="style-icon" 
          routerLink="/inicio">
        </ion-icon>
        <!-- Título -->
        <h1 class="titulo-toolbar">Información Qr</h1>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid style="padding: 5%;" >
    <ion-row  >
      <ion-col size="12" style="color: black;">
        <h2 style="text-align: center;">Información del Asistente</h2>
        <p style="text-align: center; opacity: .8;">Vannewastaken</p>
        <ion-card style="background-color: white; margin-top: 10%;">
          <ion-card-content style="color: rgba(0, 0, 0, 0.806);">
            <p ><strong>Email:</strong> </p>
            <p><strong>Evento:</strong> </p>
            <p><strong>Fecha:</strong> </p>
          </ion-card-content>

        </ion-card>


      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
