
<ion-content [fullscreen]="true">
  <ion-grid class="grid-toolbar">
    <ion-row>
      <ion-col size="12" class="row-toolbar">
        <!-- Flecha para retroceder -->
        <ion-icon name="arrow-back" class="style-icon" routerLink="/login">
        </ion-icon>
        <!-- Título -->
        <h1 class="titulo-toolbar">Recuperar Password</h1>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid style="height: 30vh;">
    <ion-row class="row-img">
      <ion-img src="assets/1.png" style="width: 43vw;"></ion-img>
    </ion-row>
  </ion-grid>

  <form (ngSubmit)="onSubmit()">
    <ion-grid style="height: 52vh; padding: 0% 8%;">
      <ion-row>
        <h3 class="style-titulo">Ingresa tu email para cambiar la contraseña</h3>
        <ion-input label="Email" label-placement="floating" fill="outline" placeholder="Enter email" class="custom"
          type="email" id="email" [(ngModel)]="email" name="email"></ion-input>
      </ion-row>
      <ion-row>
        <ion-button expand="block" type="submit">enviar</ion-button>
      </ion-row>
    </ion-grid>
  </form>


</ion-content>