
<ion-content [fullscreen]="true">
  <h1 style="color: black;">REKHRKE PASSSWORD</h1>
  <!-- <ion-grid class="grid-toolbar">
    <ion-row>
      <ion-col size="12" class="row-toolbar">

        <ion-icon name="arrow-back" class="style-icon">
        </ion-icon>

        <h1 class="titulo-toolbar">Cambiar Password</h1>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid style="height: 30vh;">
    <ion-row class="row-img">
      <ion-img src="assets/2.png" style="width: 43vw;"></ion-img>
    </ion-row>
  </ion-grid>

  <ion-grid style="max-height: 52vh; padding: 0% 8%;">
    <form (ngSubmit)="onSubmit()">
      <ion-row>
        <h3 class="style-titulo">No te olvides de la contraseña!</h3>
        <ion-input label="Password" label-placement="floating" fill="outline" placeholder="Ingrese nueva contraseña"
          class="custom" type="password" id="password" [(ngModel)]="password" name="password"></ion-input>
        <ion-input label="Confirm Password" label-placement="floating" fill="outline" placeholder="Repita la contraseña"
          class="custom" type="password" id="confirmPassword" [(ngModel)]="confirmPassword"
          name="confirmPassword"></ion-input>
      </ion-row>
      <ion-row>
        <ion-button expand="block" type="submit">Confirmar</ion-button>
      </ion-row>
    </form>

  </ion-grid> -->
</ion-content>